# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# =========================
# Entornos virtuales
# =========================
venv/
.env/
.env.*
!.env.example

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema Operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# FastAPI / Uvicorn
# =========================
*.sqlite3