# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# Environment files (NO subir)
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Local databases (si usas sqlite)
# =========================
*.sqlite3
